@font-face {
    font-family: Quicksand;
    src:url(../Font/Quicksand-Medium.ttf);
}
body{
	font-family: 'Quicksand', sans-serif;
	background: linear-gradient(#222fce, #dc19ff);
	height: 100vh;
	overflow: auto;
}
h1,h2,h3,h4,h5,h6{
	letter-spacing: 1px;
}
.navbar{
	display: flex;
	padding: 24px 30px;
	justify-content: space-between;
}
.profile{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	overflow: hidden;
}
.nav-bottom{
	width: 100%;
	position: fixed;
	bottom: -5px;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	color: #968599;
}
.nav-control{
	background-color: #f4f1f4;
    border-top-left-radius: 15% 92%;
    border-top-right-radius: 15% 92%;
    padding: 0 2rem
}
.nav-control li{
	padding: 0.8rem 2rem;
}
.f-color1{
	color: white;
}
.b-color1{
	background-color: #30ffe2;
}
.b-color2{
	background-color: #fe9eff;
}
.b-color3{
	background-color: #f8fa91;
}
.b-color4{
	background-color: #53e172;
}
.color-theme{
	width: 1.5rem;
	height: 1.5rem;
	margin: 20px 16px;
	border-radius: 16px;
}
.h-circle{
	width: 6rem;
	height: 6rem;
	border-radius: 3rem;
	margin: 0.5rem 1.5rem 0.5rem 0.6rem;
}
.h-line-1{
	padding: 0.6rem;
	border-radius: 1rem;
	width: 18rem;
}
.h-line-2{
	padding: 0.6rem;
	border-radius: 1rem;
	width: 8rem;
}
.h-line-3{
	padding: 0.6rem;
	border-radius: 1rem;
	width: 12rem;
}
.h-100{
	height: 100%;
}
.round-border{
	border:4px solid #e2ccfb;
	border-radius: 5rem;
	background-color: #ffffff5e;
}
.slider-dot{
	padding: 0.5rem;
	margin: 0.3rem;
	border-radius: 0.5rem;
	background-color: white;
	opacity: 0.6;
}
.active-s{
	opacity: 1;
}
.btn{
	padding: 0.5rem 1.5rem;
	border: 3px solid #f4b9ff;
	border-radius: 1.5rem;
	color: #f4b9ff;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.btn:hover{
	color: white;
	background-color: #f4b9ff;
}